/* //colors
$pink: #ffbfbf;
$dark-pink: #fb9fa4;
$light-gray: #e3e4e6;
$gray: #313131;


//fonts
$bodyfont: 'Source Sans Pro', helvetica, arial, sans-serif;
$headerfont: 'Playfair Display', serif; */

body {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  color: #313131;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  margin: 1rem 0;
}

a{
  color: #fb9fa4;
}

a:hover {
  color: #313131;
}

/* h1 {
  font-size: 5rem
}
h2 {
  font-size: 4.2rem
}
h3 {
  font-size: 3.6rem
}
h4 {
  font-size: 3rem
}
h5 {
  font-size: 2.4rem
}
h6 {
  font-size: 1.5rem
} */
