
form label {
	display: block;
}

form input textarea {
	display: block;
	padding: 1rem;
}

form select {
	border: 1px solid #f7d0cb;
	padding: 1rem;
	display: block;
}

.contact-form {
	width: 50%;
	margin-left: 25%;
}

.contact-form	input, textarea {
	width: 100%;
	border: 2px solid #f7d0cb;
	margin: 1rem 0 0 0;
}

.contact-form	input, textarea:focus {
	@include placeholder;
	color: #313131;
}

.contact-form	textarea {
	height: 9rem;
}

.contact-form input[type="submit"] {
	font-size: 1rem;
	padding: .5rem;
	border: 3px solid #f7d0cb;
	background-color: #f7d0cb;
	color: #313131;
	text-transform: uppercase;
	margin: 2rem 0;
}

.contact-form input[type="submit"]:hover {
	background: #E3E4E6;
	color: #313131;
	border: 3px solid #E3E4E6;
}

@media only screen and (max-width: 480px) {
	.contact-form {
		width: 75%;
		margin-left: 13%;
	}
}
