body, html {
	height: 100%;
	margin: 0;
	padding-top: 0;
	font-family: 'Open Sans', sans-serif;
}

.bg {
  /* The image used */
  background-image: url("/img/background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-logo {
	max-width: 20rem;
	display: block;
	padding-top: 4rem;
	margin-left: 19rem;
}

.index-logo {
	max-width: 20rem;
	display: block;
	margin: 0 auto;
	padding-top: 4rem;
}

.home-nav {
	text-align: center;
	list-style: none;
	margin-top: 40px;
}

.home-nav li{
	margin: 22px;
}

.home-nav a {
	background-color: #f7d0cb;
	color: #313131;
	padding: 9px 2px 9px 9px;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.home-nav a:hover {
	background-color: #e3e4e6;
	text-decoration: none;
}

.site-title {
	font-size: 36px;
	font-family: 'Playfair Display', serif;
	margin-left: 9rem;
	font-weight: 900;
}

@media only screen and (max-width: 1200px) {
	.home-logo {
		margin-left: 17rem;
		max-width: 18rem;
		padding-top: 4rem;
	}
}

@media only screen and (max-width: 992px) {
	.home-logo {
		margin-left: 14rem;
		max-width: 14rem;
		padding-top: 4rem;
	}
}

@media only screen and (max-width: 768px) {
	.home-logo {
		margin-left: 11rem;
		max-width: 11rem;
		padding-top: 4rem;
	}
}

@media only screen and (max-width: 640px) {
	.home-logo {
		margin-left: 8rem;
		max-width: 11rem;
		padding-top: 4rem;
	}
}

@media only screen and (max-width: 480px) {
	.home-logo {
		margin-left: 5rem;
		max-width: 11rem;
		padding-top: 4rem;
	}
}

@media only screen and (max-width: 320px) {
	.home-logo {
		margin-left: 3rem;
		max-width: 9rem;
		padding-top: 4rem;
	}
}
