.navbar {
  background-color: #f7d0cb;
  position: fixed;
}

.nav-logo {
  width: 60px;
}

.nav-item .active a{
  color: #000;
  font-weight: 600;
}

.nav-item a{
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav-item a:hover{
  font-weight: 600;
}

.navbar-toggler-icon {
  color: #313131;
}
