.btn-primary {
  background-color: #f7d0cb;
  border: 2px solid #f7d0cb;
  color: #313131;
}

.btn-primary:hover {
  background-color: #e3e4e6;
  border: 2px solid #e3e4e6;
  color: #313131;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #e3e4e6 !important;
  border: 2px solid #e3e4e6 !important;
  color: #313131 !important;
}

.btn {
  border-radius: 0px;
}

.page-item a{
  color: #fb9fa4;
}

.page-item:hover a{
  color: #313131;
}
